/*.wrapperStudent {*/
/*    font-family: "Montserrat", sans-serif;*/
/*    min-height: 100%;*/
/*    overflow: hidden;*/
/*    font-size: 20px;*/
/*    color: black;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    background-color: #F8F8F8;*/
/*    scroll-behavior: smooth;*/
/*}*/

/*.pageStudent{*/
/*    background-color: #F8F8F8;*/
/*    height: 100%; !* Повна висота вікна *!*/
/*    padding: 35px 35px;*/
/*}*/

.main {
    display: flex; /* Flexbox layout for sidebar and content */
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
  }
.wrapperStudentPage{
    font-family: "Montserrat", sans-serif;
    min-height: 100%;
    overflow: hidden;
    font-size: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
    scroll-behavior: smooth;
    padding-top: 70px;
}
.centralBlock{
  /*display: flex;*/
  /*flex-direction: column;*/
    flex: 1; /* Fills the rest of the space */
    background-color: #f8f8f8;
    padding: 20px;
    overflow-y: auto;
}

.welcomeText {
  font-size: 34px; /* Збільшуємо розмір шрифту для "Вітаємо" */
  margin-bottom: 20px;
  font-weight: 700;
   /* Відступ між текстом і діаграмами */
}

.subjectsPieCharts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
    padding: 20px;
    width: 100%;
    font-size: clamp(10px, 5vw, 15px);
    text-align: center;
}
.card-title {
    font-size: 30px; /* Змінює розмір шрифту */
    /*font-weight: bold; !* Робить шрифт жирним (опціонально) *!*/
    /*padding: 0 100px;*/
    margin-bottom: 40px/* Додає вертикальні відступи (паддинги) */
    /*text-align: center; !* Центрує текст заголовка (опціонально) *!*/
}
.title_subject{
    margin-top: 40px;
    font-size: 30px;
}
.knob-container {
    display: flex; /* Використовуємо flexbox для рядків */
    flex-wrap: wrap; /* Елементи будуть переноситися на новий ряд */
    justify-content: space-between; /* Рівномірно розподілити елементи */
    gap: 20px; /* Простір між елементами */
}

.knob-item {
    flex: 0 0 calc(50% - 20px); /* 50% ширини мінус відступ */
    text-align: center; /* Центрувати елементи всередині */
    margin-bottom: 20px; /* Відступ між рядами */
}
.main-block__chart_student {
    background-color: #ffff;
    border-radius: 15px;
    padding: 40px 42px;
}

.main-block__chart_main_student{
    width: 900px;
    height: 300px;
}
.pieChartContainer {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 200px;
}

   .subjectsPieCharts {
    display: flex;
       flex-direction: row;
    flex-wrap: wrap; /* Дозволяємо перенос на новий ряд */
    justify-content: center; /* Вирівнюємо по центру */
    gap: 50px; /* Відстань між діаграмами */
    padding: 20px;
    width: 100%;
    font-size: clamp(10px, 5vw, 15px);
    text-align: center;
  }
  .pieChartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 200px; /* Встановлюємо ширину для горизонтального розташування */
  }
  .chartLabel {
    margin-top: 10px; /* Відступ між діаграмою та текстом */
    text-align: center;
    font-size: 14px;
  }


  .chartValue {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: rgb(121, 121, 121);
  }
  
  .barChartContainer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }